.side-nav {
  background: rgba(0, 0, 0, 0.66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  min-width: 160px;
  text-align: left;
  padding: 1em 2em;
  &__library, &__discover {
    &-header {
      font-weight: 600;
      font-size: 1.4em;
      margin: 1.5em 0.8em;
    }
    &-items {
      &__item {
        display: flex;
        margin: 1.4em;
        &-icon {
          margin-right: 1em;
        }
        &-label {
          margin-left: 1em;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .active-item {
      color: #eb3058;
    }
  }
}
