@import "src/variables";

.player-bar {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 72px;
  width: 100vw;
  display: flex;
  background: $playbar_bg;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  &__currently-playing {
    display: flex;
    align-items: center;
    margin: 0 2em;
    &__artwork {
      height: 42px;
      width: 42px;
      border-radius: 50%;
      //margin: 0 1em;
    }
    &__info {
      margin: 0 1.5em;
      text-align: left;
      white-space: nowrap;
      .player-controls__currently-playing__info__title {
        font-size: 14px;
        font-weight: 600;
      }
      .player-controls__currently-playing__info__artist{
        font-size: 8px;
        font-weight: 300;
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    padding: 0 1em;
    &-button {
      margin: 0 1em;
    }
  }
  &__seek-bar {
    display: flex;
    align-items: center;
    width: 100%;
    &-item {
      background: $grey;
      height: 2px;
      width: inherit;
      border-radius: 1.5px;
      &-bg {
        width: 500px;
        height: inherit;
        border-radius: 1.5px;
        background: $white;
      }
      &:hover {
        height: 4px;
        cursor: pointer;
      }
    }
  }
  &__volume {
    display: flex;
    margin: 0 2em;
    align-items: center;
    &-item {
      //height: 28px;
      //width: 28px;
    }
  }
}
