$background: rgba(4, 4, 14, 0.36);
$swatch_2: #24206e;
$playbar_bg: rgba(255, 255, 255, 0.15);
$swatch_4: #c59ecb;
$swatch_5: #53484c;
$swatch_6: #525e93;
$swatch_7: #e7970c;
$swatch_8: #968082;
$active: #eb3058;
$white: #ffffff;
$grey: rgba(255, 255, 255, 0.18);
$default_text_color: rgb(255, 255, 255);
